{% extends "base.html" %}
{% load static %}

{% block title %}ログイン{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/user.css' %}"/>
{% endblock %}

{% block content %}
<section class="main">
    <h1>User Login</h1>
    <h3>ユーザ名とパスワードを入力してください：</h3>
    <form action="{% url 'user_login' %}" method="post">{% csrf_token %}
        <!-- {{ form.as_p }} -->
        <dl>
            <dt><label for="{{ form.username.id_for_label}}">ユーザ名：</label></dt>
            <dd><div class="input-text">{{form.username}}</div></dd>
        </dl>
        <dl>
            <dt><label for="{{ form.password.id_for_label}}">パスワード：</label></dt>
            <dd><div class="input-text">{{form.password}}</div></dd>
        </dl>
        <input type="submit" class="btn" value="ログイン">
    </form>
</section>
{% endblock %}