{% extends "base.html" %}
{% load static %}

{% block title %}パスワード変更{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/user.css' %}"/>
{% endblock %}

{% block content %}
<section class="main">
    <h1>Change Password</h1>
    <h3>以下の情報を入力してください：</h3>
    <form action="." method="post">
        {{ form.non_field_errors}}
        {% for field in form %}
        <dl>
            <dt>{{ field.label_tag }}</dt>
            <dd><div>{{ field }}</div>{{ field.errors }}</dd>
        </dl>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" class="btn" value="パスワード変更">
    </form>
</section>
{% endblock %}