{% extends "base.html" %}
{% load static %}

{% block title %}ユーザサインアップ{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/user.css' %}"/>
{% endblock %}

{% block content %}
<section class="main">
    <h1>User Register</h1>
    <h3>ユーザがある時は、<a href="{% url 'user_login' %}">ここ</a>をクリックしてください。</h3>
    <h3>新規ユーザは以下の情報を入力してください：</h3>
    <form action="{% url 'user_register' %}" method="post">{% csrf_token %}
        {{ form.non_field_errors }}{{ profile..non_field_errors }}
        {% for field in form %}
        <dl>
            <dt>{{ field.label_tag }}</dt>
            <dd><div>{{ field }}</div>{{ field.errors }}</dd>
        </dl>
        {% endfor %}
        {% for field in profile %}
        <dl>
            <dt>{{ field.label_tag }}</dt>
            <dd><div>{{ field }}</div>{{ field.errors }}</dd>
        </dl>
        {% endfor %}
        <input type="submit" class="btn" value="サインアップ">
    </form>
</section>
{% endblock %}