{% extends "base.html" %}
{% load static %}

{% block title %}文章コラム{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/article.css' %}"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static '/js/article.js' %}"></script>
{% endblock %}

{% block content %}
<section class="main">
    <h1>Article Column</h1>
    <h3>文章コラムを選択してください：</h3>
    <form action="." method="post">
    <table class="table-list">
        <tr>
            <th>ID</th>
            <th>コラム</th>
            <th>操作</th>
        </tr>
        {% for column in columns %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.column }}</td>
            <td>
                <button class="btn-s" name="upd" id="upd" onclick="upddelAction('{{ column.id }}')">変更</button>&nbsp;
                <button class="btn-s" name="del" id="del" onclick="upddelAction('{{ column.id }}')">削除</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="column_id" value="">
    <button class="btn" id="add" name="add" onclick="addAction()">コラム追加</button>
    </form>
</section>
{% endblock %}