{% extends "base.html" %}
{% load static %}

{% block title %}文章コラム{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/article.css' %}"/>
{% endblock %}

{% block content %}
<section class="main">
    <h1>Article Column</h1>
    <h3>文章コラムを選択してください：</h3>
    <form action="." method="post">
    <table class="table-list">
        <tr>
            <th>ID</th>
            <th>コラム</th>
            <th>操作</th>
        </tr>
        {% for column in columns %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.column }}</td>
            <td>――</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" class="btn" name="add" value="コラム追加">
    </form>
</section>
{% endblock %}