{% extends "base.html" %}
{% load static %}

{% block title %}文章コラム{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/article.css' %}"/>
{% endblock %}

{% block content %}
<section class="main">
    <h1>Article Column Add</h1>
    <h3>新しい文章コラムを入力してください：</h3>
    <form action="." method="post">
    <table class="table-input">
        <tr>
            <td>{{ form.new_column.label_tag }}</td>
            <td>{{ form.new_column }}</td>
            <td>{{ form.new_column.errors }}</td>
        </tr>
    </table>
    <input type="submit" class="btn" value="コラム追加">
    </form>
</section>
{% endblock %}