.main h3 {
  font-size: 25px;
}

.main h3::before {
  content: "";
  margin-left: 110px;
}

.main a {
  font-size: 25px;
}
.main a:active {
  color: red;
}

.main dl {
  position: relative;
  display: block;
  height: 74px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main dl > dt {
  display: block;
  position: absolute;
  float: left;
  width: 443px;
  height: 100%;
}
.main dl > dt > label {
  display: inline-block;
  position: absolute;
  font-size: 25px;
  font-weight: solid;
  top: 20px;
  left: 150px;
}
.main dl > dd:first-of-type {
  display: block;
  position: relative;
  float: left;
  width: 900px;
  height: 100%;
}
.main dl > dd:first-of-type > div {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 460px;
}
.main dl > dd:last-of-type {
  display: block;
  position: relative;
  float: right;
  clear: right;
  width: 300px;
  height: 100%;
}
.main dl > dd:last-of-type > div {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 15px;
}
.main dl > dd:only-of-type {
  display: block;
  position: relative;
  float: right;
  width: 756px;
  height: 100%;
}
.main dl > dd:only-of-type > div {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 15px;
}
